<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/jass.css">
    <link rel="stylesheet" href="/css/style.css">
    <title>Document</title>
</head>
<body>
    <main>

    <nav>
        <div>
            <h1>
                GridCreate
            </h1>
            <ul>
                {{#if logged_in}}
                <a href="/userProfile" class="nav-btn" id="useProf">Profile</a>
                <a href="/logout" id="logout">Logout</a>
                <a href="/createGrid">Create Grid</a>
                {{else}}
                <a href="/login" class="nav-btn">Log In</a>
                {{/if}}
            </ul>
        </div>
    </nav>
    {{{body}}}




    </main>

  
  <script src="/js/index.js"></script>
  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}} 
  
</body>
</html>