<form class="gridForm">
    <label for="gridHeight">How many rows is your grid.</label>
    <input type="text" name="gridHeight" id="gridHeight">
    <label for="gridwidth">How many columns is your grid.</label>
    <input type="text" name="gridwidth" id="gridWidth">
    <button id="sumbitBtn" type="submit" >Create</button>
</form>

<script src="/js/createGrid.js"></script>